In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import Error
from datetime import datetime
 
# Function to create database connection
def create_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password,
            database=db_name,
            auth_plugin='mysql_native_password'  #connection to use the mysql_native_password authentication plugin. 
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")
    return connection

In [2]:
# Load and prepare data
agency_info = pd.read_csv(r'Agency_info.csv', encoding='ISO-8859-1')
collections_original = pd.read_excel(r"collections.xlsx")
distribution_original = pd.read_excel(r"Distribution.xlsx")
needs_assessment_original = pd.read_excel(r"Need_Assesment.xlsx")

In [3]:
collections_original=collections_original.fillna(0)
distribution_original.fillna(0, inplace=True)
needs_assessment_original.fillna(0, inplace=True)

In [4]:
# Map agency names to AgencyID using Agency_info
name_to_id = dict(zip(agency_info['Agency_Name'], agency_info['AgencyID']))
collections_original['AgencyID'] = collections_original['Collection Site'].map(name_to_id)
distribution_original['AgencyID'] = distribution_original['What is the name of the organization you distributed product to/that picked up product from the United Way office?'].map(name_to_id)
needs_assessment_original['AgencyID'] = needs_assessment_original['What is the full name of your organization?'].map(name_to_id)

In [5]:
# Get the current year
current_year = datetime(datetime.now().year, 1, 1)

In [6]:
# Define your database connection parameters
host = '127.0.0.1'
database = 'period_promise'
user = 'root'
password = 'Topper@90'

In [7]:
# Create a database connection
connection = create_connection(host, user, password, database)

Connection to MySQL DB successful

In [8]:
# Function to execute query
def execute_query(connection, query, params=None):
    cursor = connection.cursor()
    try:
        if params:
            cursor.execute(query, params)
        else:
            cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [9]:
#Print New organisation list
new_agency_collections = collections_original[pd.isna(collections_original['AgencyID'])]['Collection Site']
new_agency_distribution = distribution_original[pd.isna(distribution_original['AgencyID'])]['What is the name of the organization you distributed product to/that picked up product from the United Way office?']
new_agency_needs_assessment = needs_assessment_original[pd.isna(needs_assessment_original['AgencyID'])]['What is the full name of your organization?']
new_agency_names = pd.concat([new_agency_collections,new_agency_distribution], ignore_index=True).to_frame(name='New_Agencies')#,new_agency_needs_assessment])
new_agency_names.to_excel(r'C:\Users\1234\Desktop\Capstone Project\DatabaseSQL\new_agency_collections.xlsx')

#Remove Null Values
collections_original =  collections_original[pd.notna(collections_original['AgencyID'])]
distribution_original = distribution_original[pd.notna(distribution_original['AgencyID'])]
needs_assessment_original = needs_assessment_original[pd.notna(needs_assessment_original['AgencyID'])]

In [10]:
# Insert data into Collections database
for index, row in collections_original.iterrows():
    insert_stmt_collections = """INSERT INTO collections (AgencyID, Year, Pads, Tampons, Liners, Reusable_Underware, Diva_Cups, Others)
                                  VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"""
    data_tuple = (
        row['AgencyID'],
        current_year,
        row['Pads'], 
        row['Tampons'], 
        row['Liners'], 
        row['Reusable_Underware'],  # Corrected column name
        row['Diva_Cups'], 
        row['Others']  # Ensure correct column name
    )
    execute_query(connection, insert_stmt_collections, data_tuple)

Query executed successfully
Query executed successfully

In [11]:
print(distribution_original.columns)

Index(['ID', 'Start time', 'Completion time', 'Email', 'Name',
       'Last modified time',
       'What is the name of the organization you distributed product to/that picked up product from the United Way office?',
       'What is the postal code for this organization?',
       'What is the Andar # of the organization you distributed the product to?',
       'Pads', 'Tampons', 'Liners', 'Reusable_Underware', 'Diva_Cups',
       'Others', 'AgencyID'],
      dtype='object')

In [12]:
print(needs_assessment_original.columns)

Index(['ID', 'Start time', 'Completion time', 'Email', 'Name',
       'Last modified time',
       'Do you have UWBC Andar ID#?  It would have been provided to you in our email.',
       'Do you have UWBC Andar ID#?  It would have been provided to you in our email.2',
       'Please enter the ANDAR ID# we provided you as we have your organizational information already. If you were not provided with a number, please enter '0"',
       'What is your organization's Charitable Registration Number provided by the CRA?',
       'Question', 'Question2', 'Question3',
       'What is the full name of your organization?', 'Street Address',
       'City/Town/Village', 'Postal Code (A1A 1A1)',
       'Main Contact Number ( (xxx) 123-4567)', 'City/Town/Village2', 'Pads',
       'Tampons', 'Liners', 'Reusable_Underware', 'Diva_Cups', 'Others',
       'AgencyID'],
      dtype='object')

In [13]:
print(collections_original.columns)

Index(['ID', 'Start time', 'Completion time', 'Email', 'Name',
       'Last modified time', 'Community', 'Collection Site', 'Pads', 'Tampons',
       'Liners', 'Reusable_Underware', 'Diva_Cups', 'Others', 'AgencyID'],
      dtype='object')

In [14]:
# Insert data into Distribution database
insert_stmt_distribution = """INSERT INTO distribution (AgencyID, Year, Pads, Tampons, Liners, Reusable_Underware, Diva_Cups, Others)
                             VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"""

for index, row in distribution_original.iterrows():
    if pd.isnull(row['AgencyID']):  # Check if 'AgencyID' is NaN
        print(f"Skipping row {index} due to NaN AgencyID")
        continue
    
    data_tuple = (
        row['AgencyID'],
        current_year,
        row['Pads'],
        row['Tampons'],
        row['Liners'],
        row['Reusable_Underware'],  
        row['Diva_Cups'],
        row['Others']
    )
    execute_query(connection, insert_stmt_distribution, data_tuple)

Query executed successfully

In [15]:
# Insert data into Needs_Assessment database
insert_stmt_needs_assessment = """INSERT INTO needs_assessment (AgencyID,Year,Pads,Tampoons,Liners,Reusable_Underware,Diva_Cups)
                             VALUES (%s, %s, %s, %s, %s, %s, %s);"""

for index, row in needs_assessment_original.iterrows():
    if pd.isnull(row['AgencyID']):  # Check if 'AgencyID' is NaN
        print(f"Skipping row {index} due to NaN AgencyID")
        continue
    
    data_tuple = (
        row['AgencyID'],
        current_year,
        row['Pads'],
        row['Tampons'],
        row['Liners'],
        row['Reusable_Underware'],  # Ensure this column name matches your database schema
        row['Diva_Cups']
    )
    execute_query(connection, insert_stmt_needs_assessment, data_tuple)

Query executed successfully

In [16]:
# Close the database connection when done
connection.close()